[params]
#multiplicator takeprofit
tpmultiplicator=0.5
#multiplicator stoploss
slmultiplicator=0.5

trixlength = 8
trixsignal = 22
rsi_windows = 14

bb_windows_bull=45
bb_windows_dev_bull=1.2
bb_windows_bear=44
bb_windows_dev_bear=2.0

parametrepvo_bear=8
parametrepvo_bull=10

parametreperf_bull=30
parametreperf_bear=15
parametrepvo2=-18

parametreadxv_bull=-0.5
parametreadxv_bear=-0.5

parametretrix_histo_bull=0.0
parametretrix_histo_bear=0.0

parametrestoch_rsi_bull=0.85
parametrestoch_rsi_bear=0.87

parametrestoch_rsi2_bull=0.22
parametrestoch_rsi2_bear=0.23

parametretrix_histo2_bull=0.0
parametretrix_histo2_bear=0.02
